{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>О котиках</title>
</head>
<body>
<div id="marco">
    <div id="cielo"></div>
    <div id="luna"></div>
    <div id="gato"></div>
    <div id="muro"></div>
    <div id="edificios"></div>

</div>
<p>На нашем сайте представлены лучшие котики со всей страны. Теперь вы можете приобрести их и принять одного из этих <br>
    милых пушистиков в свой дом! Мы предлагаем широкий выбор котят всех пород и окрасов, готовых стать вашими верными
    <br> друзьями и спутниками жизни. Посетите наш каталог прямо сейчас и выберите своего будущего любимца!</p>
<button class="catalog-button"><a href="{% url 'index' %} " class="text">Перейти в каталог</a></button>
</body>
</html>