{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats List</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rudashi/google-sans-font@main/fonts.css"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <img src="{% static "img/logo.png" %}" alt="Logo" class="logo">
    <ul class="cat-list">
        {% for cat in cats %}
            <li class="cat-item">
                <a href="{% url 'show_cat' cat.id %}">
                    <img class="cat-image" src="{{ cat.image.url }}" alt="{{ cat.name | safe }}">
                </a>
                <p class="cost">Цена: {{ cat.price }}</p>
            </li>
        {% endfor %}
    </ul>
<button class="about-button"><a href="{% url 'about' %}" class="text">О сайте</a></button>
</body>
</html>
