{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cat.name }}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="cat-detail">
        <div class="cat-image-container">
            <img class="cat-image" src="{{ cat.image.url }}" alt="{{ cat.name | safe }}">
        </div>
        <div class="cat-info">
            <h1>{{ cat.name }}</h1>
            <p>{{ cat.description }}</p>
            <p>Price: {{ cat.price }}</p>
        </div>
    </div>
</body>
</html>