{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cat.name }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/rudashi/google-sans-font@main/fonts.css"/>
    <link rel="stylesheet" href="{% static "css/show.css" %}">
</head>
<body>

    <div class="cat-detail">
        <div class="cat-image-container">
            <img class="cat-image-show" src="{{ cat.image.url }}" alt="{{ cat.name | safe }}">
        </div>
        <div class="cat-info">
            <h1>{{ cat.name }}</h1>
            <p class="cat_description">{{ cat.description }}</p>
            <p>Цена: {{ cat.price }} ₽ <br>Оплата в $ по курсу 100₽ за 1$</p>
            <form action="{% url 'buy_cat' cat.id %}" method="post">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ STRIPE_PUBLIC_KEY }}"
                        data-name="Купить котика"
                        data-description="Оплата за котика {{ cat.name }}"
                        data-amount="{{ cat.price|floatformat:'d' }}"
                        data-currency="usd"
                        data-image="{% static 'img/logo.png' %}"
                        data-locale="auto">
                </script>
            </form>
        </div>
    </div>
</body>
</html>
