.cat-wrapper {
    display: flex;
    justify-content: center; /* Center items horizontally */
    padding: 20px;
}

.cat-detail {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}

.cat-image-container {
    margin-right: 20px; /* Add space to the right of the image */
}

.cat-info {
    text-align: center; /* Center the text */
    margin-top: -270px; /* Add margin to push it below the image */
    margin-right: 180px;
}

.cat-image-show {
    width: 30%; /* Set image width to 30% */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn't exceed its container */
}

/* Responsive styles */
@media only screen and (min-width: 1920px) {
    .cat-info {
        max-width: 50%; /* Limit the width of .cat-info block */
    }
}

















