.cat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-top: 9.375em;
}

.cost {
    font-size: 1.25em;
}

.cat-item {
    margin-left: 1.25em;
    width: calc(25% - 1.25em);
    margin-right: 1.25em;
    margin-bottom: 1.25em;
    box-sizing: border-box;
}

.cat-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.cat-detail {
    display: flex;
    align-items: flex-start;
}

.cat-image-container {
    width: 100%; /* Изменено для адаптивности */
    margin-right: 1.25em;
}

.cat-info {
    flex-grow: 1;
}

.cat-info h1 {
    margin-top: 0;
}

button {
    margin-top: 0.625em;
    padding: 0.625em 1.25em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.313em;
    cursor: pointer;
}

.logo {
    width: 20%; /* Изменено для адаптивности */
    max-width: 6.25em; /* Добавлено для контроля максимальной ширины */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    position: absolute;
    top: 1.25em; /* Позиционируем логотип по вертикали вверху */
    left: 50%; /* Позиционируем логотип по горизонтали по центру */
    transform: translateX(-50%); /* Сдвигаем логотип влево на половину его ширины */
    z-index: 1000;
}

.about-button {
    transform: translate(2.5em, -67em);
    margin-bottom: 6.25em;
    display: block;
    margin-top: 1.25em;
    padding: 0.625em 1.25em;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0.313em;
    cursor: pointer;
}

a.text:active,
a.text:hover,
a.text {
    text-decoration: none;
    color: white;
}

.logo-container {
    position: relative;
}



.icon-link {
    display: block;
    text-decoration: none;
    margin-bottom: 1em; /* Отступ между иконками */
}

.icon {
    width: 2.8125em; /* Устанавливаем ширину иконки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.icon-tooltip {
    position: absolute; /* Абсолютное позиционирование внутри фиксированного элемента */
    bottom: 100%; /* Расположена над иконкой */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Для точного центрирования */
    background-color: rgba(0, 0, 0, 0.8); /* Фон подсказки */
    color: #fff; /* Цвет текста подсказки */
    padding: 5px; /* Внутренние отступы */
    border-radius: 3px; /* Скругленные углы */
    opacity: 0; /* Невидима по умолчанию */
    transition: opacity 0.3s ease-in-out; /* Плавное появление */
}

.icon-link:hover .icon-tooltip {
    opacity: 1; /* Подсказка видима при наведении */
}

p {
    font-family: "Google Sans", sans-serif;
}

@media screen and (max-width: 768px) {
    .cat-item {
        width: calc(50% - 1.25em);
    }
}

@media screen and (max-width: 480px) {
    .cat-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        width: 30%; /* Изменено для адаптивности */
        max-width: 6.25em; /* Добавлено для контроля максимальной ширины */
    }
}





