{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <a href="{% url 'index' %}" class="text">На главную
        <img src="{% static "img/logo.png" %}" alt="Logo" class="logo">
    </a>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
   
</head>

<body>
<form method="POST" novalidate>
    {% csrf_token %}
    <h2>Вход</h2>
    {{ form.as_p }}
    <input type="submit" value="Войти"/>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</form>
</body>

</html>
