<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="POST" novalidate>
    {% csrf_token %}
    <h2>Регистрация</h2>

    {% for field in form %}
        <p>
            {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {{ field.label_tag }} {{ field }}
        </p>
    {% endfor %}
    <input type="submit" value="Зарегистрироваться"/>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</form>
</body>
</html>